### P2

In [1]:
a = 1
a, type(a)

(1, int)

In [2]:
a = 1.1
a, type(a)

(1.1, float)

In [3]:
a = 'hi'
a, type(a)

('hi', str)

In [4]:
speed = 19
_abc = 10
speed, _abc

(19, 10)

In [8]:
PI = 3.14
PI

3.14

In [10]:
a = 1 ; print(a)

1

In [11]:
a = 1
b = 2
c = 1.1
a, b, c

(1, 2, 1.1)

In [13]:
a = 128
b = -1
c = 0
a, b, c

(128, -1, 0)

In [14]:
a = 1.1
b = -1.1
a, b

(1.1, -1.1)

In [16]:
a = 0xFF
a

255

In [17]:
a = 1
b = 2
a, b

(1, 2)

In [18]:
a + b, a - b, a * b, a / b

(3, -1, 2, 0.5)

In [19]:
7 % 4, 7 //4 , 7 / 4

(3, 1, 1.75)

In [20]:
(1+2+3+4) * 2, 1+2+3+4 * 2

(20, 14)

### P3

In [21]:
a = "hello 부산대역"
a, type(a)

('hello 부산대역', str)

In [22]:
a = """
    select
    *
    from
    users;
    """
a, type(a)

('\n    select\n    *\n    from\n    users;\n    ', str)

In [23]:
"""
3개짜리 표현은 여러줄 문자열 표현, 문자열의 구조를 유지할때 사용
파이썬의 주석은 한줄주석만 존재, 
여러줄 주석은 표현이 따로 없어서 여러줄 표현하는 문자열 구조를 차용
"""

'\n3개짜리 표현은 여러줄 문자열 표현, 문자열의 구조를 유지할때 사용\n파이썬의 주석은 한줄주석만 존재, \n여러줄 주석은 표현이 따로 없어서 여러줄 표현하는 문자열 구조를 차용\n'

In [25]:
a = 'abcde"123"fghijk'
print(a)

abcde"123"fghijk

In [26]:
a = '123'
b = '456'
a+b, a, b

('123456', '123', '456')

In [27]:
'='*10

'=========='

In [28]:
a = '0123456789'
a

'0123456789'

In [29]:
a[2], a[-8]

('2', '2')

In [30]:
tmp = 'https://news.naver.com/main/read.nhn?mode=LSD&mid=shm&sid1=105'
tmp

'https://news.naver.com/main/read.nhn?mode=LSD&mid=shm&sid1=105'

In [32]:
tmp[:]

'https://news.naver.com/main/read.nhn?mode=LSD&mid=shm&sid1=105'

In [33]:
tmp[0:5]

'https'

In [35]:
tmp[0:5:2], tmp[0:5:3]

('hts', 'hp')

In [36]:
tmp[1:-1]

'ttps://news.naver.com/main/read.nhn?mode=LSD&mid=shm&sid1=10'

In [37]:
tmp

'https://news.naver.com/main/read.nhn?mode=LSD&mid=shm&sid1=105'

In [46]:
a = tmp.split('?')
b = a[0]
b[-8:]

'read.nhn'

In [47]:
type(tmp), tmp

(str, 'https://news.naver.com/main/read.nhn?mode=LSD&mid=shm&sid1=105')

In [53]:
a =1
b =2
str(a) + "+" + str(b) + "=" + str(a+b)

'1+2=3'

In [62]:
'%d + %d = %d' % (a, b, a+b)

'1 + 2 + 3'

In [55]:
'%d + %d = %d' % (a, b, a/b)

'1 + 2 = 0'

In [56]:
'%d + %d = %f' % (a, b, a/b)

'1 + 2 = 0.500000'

In [57]:
'%s + %s = %s' % (a, b, a/b)

'1 + 2 = 0.5'

In [58]:
'%s + %s = %s' % (a, b, a/b, 10)

TypeError: not all arguments converted during string formatting

In [59]:
'{} + {} = {}'.format(a,b,a+b)

'1 + 2 + 3'

In [60]:
'{1} + {0} = {2}'.format(a,b,a+b)

'2 + 1 + 3'

In [61]:
'{1} + {1} = {1}'.format(a,b,a+b)

'2 + 2 + 2'

In [64]:
'{height} + {weight} = {result}' .format(height=a, weight=b, result=1/a+b)

'1 + 2 = 3.0'

In [66]:
a = '0123456789abcdefgABCDEFG@#$%^&가나다라'
a

'0123456789abcdefgABCDEFG@#$%^&가나다라'

In [67]:
'문자열 내에 특정 문자 개수', a.count('가')

('문자열 내에 특정 문자 개수', 1)

In [68]:
'문자열 내에 특정 문자 개수', a.count('마')

('문자열 내에 특정 문자 개수', 0)

In [69]:
a.index('a')

10

In [70]:
a.index('마')

ValueError: substring not found

In [71]:
a.find('a'), a.find('마'), a.find('z')

(10, -1, -1)

In [72]:
a = '0123456789'
a

'0123456789'

In [74]:
tmp = '|'.join(a)
tmp

'0|1|2|3|4|5|6|7|8|9'

In [75]:
tmp.split('|')

['0', '1', '2', '3', '4', '5', '6', '7', '8', '9']

In [82]:
tmp = '''
				
					
					
					
					미국 USD
				
				
'''
tmp

'\n\t\t\t\t\n\t\t\t\t\t\n\t\t\t\t\t\n\t\t\t\t\t\n\t\t\t\t\t미국 USD\n\t\t\t\t\n\t\t\t\t\n'

In [83]:
'[%s]' % tmp

'[\n\t\t\t\t\n\t\t\t\t\t\n\t\t\t\t\t\n\t\t\t\t\t\n\t\t\t\t\t미국 USD\n\t\t\t\t\n\t\t\t\t\n]'

In [86]:
'[%s]' % tmp.lstrip()

'[미국 USD\n\t\t\t\t\n\t\t\t\t\n]'

In [87]:
'[%s]' % tmp.rstrip()

'[\n\t\t\t\t\n\t\t\t\t\t\n\t\t\t\t\t\n\t\t\t\t\t\n\t\t\t\t\t미국 USD]'

In [88]:
'[%s]' % tmp.strip()

'[미국 USD]'

In [89]:
code = '%s' % tmp.strip()
code.split()[-1]

'USD'

In [91]:
('%s' % tmp.strip()).split()[-1]

'USD'

In [93]:
tmp.strip().split()[-1]

'USD'

In [94]:
a = '''The Gascon campaign of 1345, part of the Hundred Years' War, 
was fought between August and November in English-controlled 
Gascony in south-west France. Henry, Earl of Derby, 
commanding an Anglo-Gascon force, met a large French force at 
Bergerac, east of Bordeaux, and decisively defeated it.'''
a

"The Gascon campaign of 1345, part of the Hundred Years' War, \nwas fought between August and November in English-controlled \nGascony in south-west France. Henry, Earl of Derby, \ncommanding an Anglo-Gascon force, met a large French force at \nBergerac, east of Bordeaux, and decisively defeated it."

In [96]:
a.replace(',','').replace('.','').replace('\n','').replace('-','')

"The Gascon campaign of 1345 part of the Hundred Years' War was fought between August and November in Englishcontrolled Gascony in southwest France Henry Earl of Derby commanding an AngloGascon force met a large French force at Bergerac east of Bordeaux and decisively defeated it"

In [97]:
'[%s]' % 'abcdef'

'[abcdef]'

In [98]:
'[%10s]' % 'abcdef'

'[    abcdef]'

In [99]:
'[%-10s]' % 'abcdef'

'[abcdef    ]'

In [101]:
'[%f]' % 3.1456789

'[3.145679]'

In [102]:
'[%0.2f]' % 3.1456789

'[3.15]'

In [105]:
'[%10.2f]' % 3.1456789

'[      3.15]'

In [106]:
'[-10.2%f]' % 3.1456789

'[-10.23.145679]'

In [108]:
'123{0}456'.format('가')

'123가456'

In [109]:
'123{0:<10}456'.format('가')

'123가         456'

In [110]:
'123{0:>10}456'.format('가')

'123         가456'

In [111]:
'123{0:^10}456'.format('가')

'123    가     456'

In [114]:
'123{0:*^10}456'.format('가')

'123****가*****456'

### P4

In [115]:
a = list()
a, type(a), len(a)

([], list, 0)

In [116]:
a = []
a, type(a), len(a)

([], list, 0)

In [117]:
a = [
    {'code':'USD',
        'price':1180
    },
    {'code':'EUR',
        'price':1430
    }
]
a

[{'code': 'USD', 'price': 1180}, {'code': 'EUR', 'price': 1430}]

In [118]:
numbers = [1,3,5,7,9]
numbers, type(numbers), len(numbers)

([1, 3, 5, 7, 9], list, 5)

In [119]:
foods = ['돈까스','햄버거','라면']
foods, type(foods), len(foods)

(['돈까스', '햄버거', '라면'], list, 3)

In [120]:
data_mixs = [1,2,3,'햄버거', [3.14,'부산대역']]
data_mixs

[1, 2, 3, '햄버거', [3.14, '부산대역']]

In [121]:
data_mixs[3]

'햄버거'

In [122]:
data_mixs[-1]

[3.14, '부산대역']

In [123]:
len(data_mixs) * 3

15

In [124]:
numbers

[1, 3, 5, 7, 9]

In [125]:
numbers[1:-1]

[3, 5, 7]

In [126]:
numbers[:]

[1, 3, 5, 7, 9]

In [127]:
numbers[::2]

[1, 5, 9]

In [128]:
numbers[0]

1

In [129]:
numbers[0]= 100
numbers

[100, 3, 5, 7, 9]

In [130]:
numbers[1:-1]

[3, 5, 7]

In [131]:
numbers

[100, 3, 5, 7, 9]

In [132]:
a = [1,2,3]
b = [4,5,6]
a, b, a+b

([1, 2, 3], [4, 5, 6], [1, 2, 3, 4, 5, 6])

In [133]:
a.append(b)
a

[1, 2, 3, [4, 5, 6]]

In [134]:
a = [1,2,3]
a

[1, 2, 3]

In [135]:
a.extend(b)
a

[1, 2, 3, 4, 5, 6]

In [136]:
del a[0]
a

[2, 3, 4, 5, 6]

In [137]:
del a[:2]
a

[4, 5, 6]

In [138]:
a.clear()
a

[]

In [139]:
del a
a

NameError: name 'a' is not defined

In [140]:
dic = {}
dic, type(dic), len(dic)

({}, dict, 0)

In [141]:
dic = dict()
dic, type(dic), len(dic)

({}, dict, 0)

In [142]:
exchanges = {
    "na":"미국",
    "code":"USD",
    "buy":1165.10,
    "sell":1185.48
}
exchanges

{'na': '미국', 'code': 'USD', 'buy': 1165.1, 'sell': 1185.48}

In [145]:
exchanges["na"]

'미국'

In [148]:
exchanges["na"] = 'America'
exchanges

{'na': 'America', 'code': 'USD', 'buy': 1165.1, 'sell': 1185.48, 1: 'America'}

In [149]:
exchanges[ 1 ] = 'EUR'
exchanges

{'na': 'America', 'code': 'USD', 'buy': 1165.1, 'sell': 1185.48, 1: 'EUR'}

In [150]:
exchanges.keys()

dict_keys(['na', 'code', 'buy', 'sell', 1])

In [151]:
exchanges.values()

dict_values(['America', 'USD', 1165.1, 1185.48, 'EUR'])

In [152]:
exchanges.items()

dict_items([('na', 'America'), ('code', 'USD'), ('buy', 1165.1), ('sell', 1185.48), (1, 'EUR')])

In [153]:
exchanges.get("na")

'America'

In [154]:
exchanges.get("na1")

In [155]:
exchanges['na1']

KeyError: 'na1'

In [156]:
del exchanges['na']

In [157]:
exchanges

{'code': 'USD', 'buy': 1165.1, 'sell': 1185.48, 1: 'EUR'}

In [158]:
tu = ()
tu, type(tu), len(tu)

((), tuple, 0)

In [159]:
tu = tuple()
tu, type(tu), len(tu)

((), tuple, 0)

In [160]:
tu = (1, )
tmp = (1)
type(tu), type(tmp)

(tuple, int)

In [161]:
tu = (1,2,3,4,5)
tu, type(tu), len(tu)

((1, 2, 3, 4, 5), tuple, 5)

In [166]:
tu[0], tu[:2]

(1, (1, 2))

In [167]:
a,b,c,d,e = tu

In [168]:
a,b,c,d,e

(1, 2, 3, 4, 5)

In [169]:
a,b,c,d = tu

ValueError: too many values to unpack (expected 4)

In [170]:
a,b,c,d,_ = tu

In [172]:
a,b,c,d,_

(1, 2, 3, 4, 5)

In [173]:
a,b,c,d = tu[:-1]

In [174]:
a,b,c,d

(1, 2, 3, 4)

In [175]:
def test() :
    return 1,3

In [176]:
a,b = test()

In [177]:
print(a,b)

1 3

In [178]:
a = list( set("helloworld"))
a

['d', 'h', 'l', 'r', 'w', 'e', 'o']

In [179]:
a.sort()

In [180]:
a

['d', 'e', 'h', 'l', 'o', 'r', 'w']

In [181]:
a = set([4,7,10,2,1,2,4,67,80,3,4])
b = set([100,62,3,4,6,2,1,3,5,5,6,8])
a, b

({1, 2, 3, 4, 7, 10, 67, 80}, {1, 2, 3, 4, 5, 6, 8, 62, 100})

In [182]:
a.union(b)

{1, 2, 3, 4, 5, 6, 7, 8, 10, 62, 67, 80, 100}

In [183]:
a.intersection(b)

{1, 2, 3, 4}

In [185]:
a.difference(b), b.difference(a)

({7, 10, 67, 80}, {5, 6, 8, 62, 100})

### P5

In [187]:
2 > 1, 2 < 1, 2 == 1, 2!= 1, 2>=1 , 2 <=1

(True, False, False, True, True, False)

In [ ]:
조건문은따로

### P6

In [195]:
def sum (x,y) :
    return x + y

In [197]:
result = sum(1,2)
result

3

In [198]:
def sum2(x,y):
    print ( x + y )

In [201]:
result = sum2(1,2)
print(result)

3
None

In [203]:
a = [3,5,2,5,1]
a.sort()

In [ ]:
포인터 건너뜀

In [ ]:
함수인자초기값건너뜀

In [ ]:
~끝까지

### P7

In [206]:
from MyMath.metrix.mod import add, name

In [207]:
name, add(1,2)

('17시30분', 3)

In [208]:
from MyMath.metrix.mod import *

In [209]:
A ( )

생성

In [210]:
from MyMath.metrix.mod import PI as MPI

In [211]:
MPI

3.14

In [212]:
PI

3.14

In [213]:
from MyMath.metrix import PI2
PI2

5.29

In [214]:
import MyMath

In [215]:
MyMath.PI3

'부산대역'

In [216]:
print(0)
try : 
    print(1)
    print(1/0)
    print(2)
except Exception as e :
    print(3,e)
else :
    print (4)
finally :
    print(5)
print(6)

0
1
3 division by zero
5
6

In [217]:
print(0)
try : 
    print(1)
    #print(1/0)
    print(2)
except Exception as e :
    print(3,e)
else :
    print (4)
finally :
    print(5)
print(6)

0
1
2
4
5
6

### P8

In [ ]:
해보기

### P9

In [231]:
import re

In [236]:
test.txt = '''
BTS (Korean: 방탄소년단; RR: Bangtan Sonyeondan), also known as the Bangtan Boys, is a seven-member South Korean boy band formed in Seoul in 2013. The septet co-writes and produces much of their output. Originally a hip hop group, their musical style has evolved to include a wide range of genres. Their lyrics, often focused on personal and social commentary, touch on the themes of mental health, troubles of school-age youth, loss, the journey towards loving oneself, and individualism. Their work features references to literature and psychological concepts and includes an alternative universe storyline. The group have staged several world tours.

The group initially formed as teenagers under Big Hit Entertainment and released their debut single album, 2 Cool 4 Skool (2013). Subsequent work such as their first U.S. Billboard 200 entries The Most Beautiful Moment in Life, Part 2 (2015), The Most Beautiful Moment in Life: Young Forever (2016), and Wings (2016) helped establish BTS' reputation as a socially conscious group. Wings became BTS' first album to sell one million copies in South Korea. By 2017, BTS crossed into the international music market, leading the Korean Wave into the United States and breaking numerous sales records, becoming the first Korean group to receive a certification from the Recording Industry Association of America (RIAA) for their single "Mic Drop". The band is the first Korean act to top the Billboard 200 with their studio album Love Yourself: Tear (2018) and have since hit the top of the U.S. charts with their albums Love Yourself: Answer (2018) and Map of the Soul: Persona (2019), making BTS the first group since the Beatles to earn three number one albums in less than a year. Love Yourself: Answer also broke South Korea's Gaon Album Chart's all-time monthly record previously set by Love Yourself: Tear and became the first Korean album certified Gold in the United States.

According to the Gaon Music Chart, BTS has sold sixteen million albums domestically in physical sales and is the best-selling artist to debut in the 2010s.[3] They hold the best-selling album in Korean history with Map of the Soul: Persona. BTS were the second best-selling artists of 2018 worldwide according to the IFPI's Global Artist Chart, as well as the only non-English speaking artist to enter the chart. The group has won Top Social Artist three years in a row and Top Duo/Group at the 26th Billboard Music Awards. Featured on Time's international cover as "Next Generation Leaders", BTS has appeared in the magazine's 25 most influential people on the internet (2017–2019) and Time's 100 most influential people in the world (2019). Forbes Korea named BTS the most influential celebrities of Korea in 2018, and BTS ranked 43rd in the Forbes Celebrity 100 (2019) as one of the world's top-earning celebrities. BTS are ranked #4 of Billboard's Top Social Artist of the 2010s, and are the highest group on the list. During their Love Yourself World Tour, BTS became the first Asian and first non-English speaking act to headline and sell out Wembley Stadium; and broke the record for the single highest-grossing engagement in Rose Bowl Stadium history. Billboard ranked BTS at #45 on their Top Touring Artists of the 2010s list, being the highest-ranked Asian as well as the only non-English speaking act on the list. As of 2019, BTS are purportedly worth more than $4.65 billion to South Korea's economy each year, or 0.3 percent of the country's GDP. BTS attracted one in every 13 foreign tourists that visited South Korea and were cited as one of the key acts boosting global music sales to $19 billion in 2018.

Following the establishment of their Love Myself anti-violence campaign in partnership with UNICEF, BTS addressed the United Nations 73rd General Assembly and became the youngest ever recipients of the Order of Cultural Merit from the President of South Korea due to their contributions in spreading Korean culture and language.

'''
test.txt[:20]

'\nBTS (Korean: 방탄소년단;'

In [237]:
hangul = re.compile('[ㄱ-ㅣ가-힣]+')

In [238]:
alpha = re.compile('[a-zA-Z]+')

In [240]:
hangul.sub('',test.txt)[:100]

'\nBTS (Korean: ; RR: Bangtan Sonyeondan), also known as the Bangtan Boys, is a seven-member South Kor'

In [ ]:
메타문자부터